.tag-main{
    background-color: #ffffff;
    padding: 10px;
    text-align: left;
    height: 100%;
    h1{
        font-size: 24px;
        margin: 0;
    }
    .tag-content{
        background-color: #ffffff;
        padding: 20px;
    }
    .ant-col{
        background-color: #ffffff;
    }
    .header-btn{
        padding-bottom: 20px;
    }
}